@import '_reset';

.mars-app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-family: sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: bolder;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 1 20%;
  min-width: 150px;
  max-width: 150px;

  h1 {
    position: absolute;
    top: 100px;
    text-transform: uppercase;
    transform: rotate(-90deg);
    color: #999999;
  }

  .icon {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 1px solid red;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
      flex-basis: 50%;
      padding: 50%;
      background: url('../explorer.svg');
      background-size: cover;
    }
  }
}

#app-main {
  flex: 1 0 80%;

  .app-panel {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../mars-bkgrnd.jpg');
    background-size: cover;
  }

}



.timer {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 150px;
  height: 50px;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4));

  span {
    display: inline-block;
    font-size: 2.5rem;
    color: #00ff19;
    font-family: monospace;
    text-shadow: -1px 1px 8px rgba(0, 255, 25, 0.75), -1px 1px 8px rgba(255, 255, 255, 0.25);
  }
}
.main-button {
  width: 400px;
  height: 200px;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.25));
  color: white;
  font-size: 2rem;
  border: none;
  outline: none;
  border-radius: 5px;
}

.question {
  width: 500px;
  margin: 0 auto;
  height: 200px;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.25));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;

  div {
    flex: 0 1 30%;
    font-size: 1.5rem;
    padding: 10px;
  }
}

.question form {
    flex: 0 1 40%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;


  input {
    outline: none;
    border: none;
    background: rgba(0,0,0,0.25);
    flex: 0 1 50%;
    color: white;
    font-size: 1.5rem;
  }
  button {
    flex: 0 1 40%;
    background: #A66D50;
    color: white;
    border: none;
    font-size: 1rem;

  }
}

@import '_endscreens';
